# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor configuration files
.vscode/
.idea/
*.swp
*.swo

# Logs and temporary files
*.log
*.tmp

# Matplotlib cache
.matplotlib/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled C extensions
*.so

# PyInstaller
dist/
build/
ImageEditor.spec